* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0f2f5;
}

.container {
    height: 100vh;
    margin-top: 200px;
    margin-right: 100px;
}

.box {
    width: 900px;
    
}

.info h1 {
    color: #1877f2;
    font-size: 60px;
    margin-bottom: 10px;
}

.info p {
    font-size: 24px;
    color: #1c1e21;
}

.login-box {
    width: 380px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    margin-right: 400;
}

.login-box input {
    padding: 14px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}

.login-box button {
    padding: 14px;
    font-size: 18px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
}

.login-box button:hover {
    background-color: #166fe5;
}

.login-box a {
    text-align: center;
    color: #1877f2; 
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 15px;
}

.divider {
    height: 1px;
    background-color: #dadde1;
    margin: 15px 0;
}


.login-box .create-btn {
    background-color: #42b72a;
    font-size: 16px;
    padding: 10px 16px; 
    width: auto;
    box-sizing: content-box;

}
.login-box .create-btn:hover {
    background-color: #36a420;

}
