* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #f0f2f5;
}

.container {

    padding-top: 200px;

    width: 65%;
    margin: 0 auto;


}



.info,
.login-box {
    display: inline-block;
    width: 45%;
}

.info h1 {

    color: #1877f2;
    font-size: 60px;
    /* margin-bottom: 10px; */
 
}

.info h1,
.info p {
    text-align: start;
    

}

.info p {
    font-size: 24px;
    color: #1c1e21;
 
}

.login-box {
    width: 380px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.login-box input {
    padding: 14px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    width: 100%;
}

.login-box button {
    padding: 14px;
    font-size: 18px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    /* margin-bottom: 10px; */
    width: 100%;
}



.login-box a {
    text-align: center;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
    margin: 15px auto;
    display: block;

}

.divider{
    height: 1px;
    background: #ddd;
    margin: 20px 0;

}



.login-box .create-btn {
    background-color: #42b72a;
    padding: 10px 16px;
    width: 60%;
    margin: 0 auto;
    display: block;
}

